{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true // Set the same value as in the plugins
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@models": "./src/models",
          "@dtos": "./src/dtos",
          "@interfaces": "./src/interfaces",
          "@constants": "./src/constants",
          "@templates": "./src/templates",
          "@utils": "./src/utils",
          "@validators": "./src/validators"
        }
      }
    ]
  ]
}
